*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {display: none;}
body{
    
    cursor: default;
}
/* Bases */

@import './base/extends';
@import './base/listas';
@import './base/mapa';
@import './base/mixin';
@import './base/operaciones';
@import './base/variables';


/* Componentes */

@import './components/header';
@import './components/main';
@import './components/infoutil';
@import './components/fuentes';
@import './components/footer';

/* querys */
@import './base/querys';

