.footer {
    height: 171px !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background-color: #262626;
    color: white;
    /* -ms-flex-pack: distribute;
    -webkit-box-align: center;
        -ms-flex-align: center; */
        .footer_texto{
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: center;
        
            font-family: Inter;
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: center;
        }
        .footer_redes_img {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            .iconoFooter {
                margin: 8px;
              }
          }
  }
  




