/* Info util section */
/* seccion rescatar */
    .rescatar__container{
        .main__texto__rescatar{
            h2{
                margin-top: 64px;
                font-weight: 900;
                font-size: nth($fuentes, 8);
                line-height: 68px;
                text-align: center;

                color: #A17A9B;
            }
        }
        .mobile__textos{
            display: none;
        }
        .img__container{
            .rescatar__img{
                width: 90%;
                margin-top: 56px;
                margin-left: 10%;
 
                margin-bottom: 64px;
            }
        }
    }
    .footerresc{
        position: absolute;
        width: 100%;
        height: 171px;
        left: 0px;
        top: 1304px;
    
        background-color: #262626;
        .footer__layout{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            gap: 301px;
        
            position: absolute;
            width: 80%;
            height: 67.59px;
    
            top: 52px;
            left: 165px;
        }
        .footer_logo{
            width: 96px;
            height: 67.59px;
    
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        .footer_texto{
            width: 167px;
            height: 16px;
    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            
            text-align: center;
            text-transform: uppercase;
    
            color: #F3F3F3;
    
            flex: none;
            order: 1;
            flex-grow: 0;
        }
        .footer_redes_img{
            height: 42px;
        }
    }
/* end seccion rescatar */
.maltrato__container{
    display: block;
    .textos__maltrato{
        h2{
            color: #CE747A;
            font-weight: 900;
            font-size: 64px;
            line-height: 68px;

            padding-top: 64px;
            padding-left: 160px;
            padding-right: 160px;
            padding-bottom: 40px
            ;
        }
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;

            height: 136px;
            left: 356px;
            right: 356px;
            top: 304px;
        }
    }
    .maltrato__img1{
        padding-left: 160px;
        padding-bottom: 88px;
    }
    .maltrato__img2{
        padding-bottom: 53px;
    }
}
.maltrato__mobile{
    display: none;
}
/* seccion maltrato */

/* end seccion maltrato */
/* seccion castraciones */
.castraciones__container{
    h2{
        margin-top: 64px;
        margin-left: 163px;
        margin-bottom: 56px;
        font-size: 64px;
        font-weight: 900;
        line-height: 68px;
        text-align: center;

        color: #A17A9B;
    }
    .img1{
        // margin-right: 96px;
        margin-left: 130px;
        margin-top: 56px;
        width: 1184px;
        height: 440px;
        left: 160px;
        top: 336px;
    }
    .img2{
    position: absolute;
    width: 456px;
    height: 392px;
    left: 240px;
    top: 336px;
    }
    .ventajasimg{
        width: 1120px;
        height: 680px;
        left: 160px;
        top: 840px;
        margin-left: 160px;
        // margin-right: 160px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .ventajasfamilia{
        width: 1120px;
        height: 344px;
        left: 160px;
        top: 1584px;
        margin-top: 64px;
        margin-left: 160px;
        // margin-right: 160px;
        margin-bottom: 64px;
    }
}
.castraciones__container__mobile{
    display:none;
}
.footercast{
    position: absolute;
    width: 100%;
    height: 171px;
    left: 0px;
    top: 2063px;

    background-color: #262626;
    .footer__layout{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 301px;
    
        position: absolute;
        width: 80%;
        height: 67.59px;

        top: 52px;
        left: 165px;
    }
    .footer_logo{
        width: 96px;
        height: 67.59px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .footer_texto{
        width: 167px;
        height: 16px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        
        text-align: center;
        text-transform: uppercase;

        color: #F3F3F3;

        flex: none;
        flex-grow: 0;
    }
    .footer_redes_img{
        height: 42px;
    }
}
/* end castraciones */


/* Vacunas  page */
.vacunas__container{
    .vacunas__title{
        position: absolute;
        // width: 1120px;
        height: 64px;
        left: 513px;
        top: 200px;

        font-weight: 900;
        font-size: 64px;
        line-height: 68px;

        display: flex;
        align-items: center;
        text-align: center;

        color: #A17A9B;
    }
    .margin__col__1{
        .col__1__parrafo{
            position: absolute;
            width: 455px;
            height: 386px;
            left: 166px;
            top: 331px;
            
            font-size: 24px;
            line-height: 30px;
            /* or 125% */
            
            
            color: #000000;
        }
    }
    .margin__col__2{
        .rectangulo{
            width: 552px;
            height: 432px;
            left: 728px;
            top: 320px;
            position:absolute;
            background: #EFEFEF;
            border-radius: 30px;
            .rectangulo__img{
                width: 504px;
                height: 231px;
                left: 752px;
                top: 321px;
    
                margin-top: 1px;
                margin-left: 24px;
                margin-right: 24px;
                margin-bottom: 34px;
            }
            .rectangulo__parrafo{
                position: absolute;
                width: 437px;
                height: 120px;
                left: 63px;
    
                font-size: 20px;
                line-height: 25px;
            }
        }
    }
    
    .margin__col__3{
        position: absolute;
        width: 552px;
        height: 416px;
        left: 162px;
        top: 816px;

        background: #FDE8D0;
        border-radius: 30px;
        .dog{
            position: absolute;
            width: 80px;
            height: 80px;
            left: 55px;
            right: 25px;
            top: 40px;
        }
        .listarectangulo2{
            list-style: none;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;

            color: #000000;
            .parrafo{
                position: absolute;
                width: 339px;
                height: 80px;
                top: 40px;
                right: 53px;
                left: 160px;
                list-style: none;
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                align-items: center;
                text-transform: uppercase;

                color: #A17A9B;
            }

            .quintuple{
                position: absolute;
                width: 444px;
                height: 40px;
                left: 59px;
                top: 144px;

                font-size: 18px;
                display: flex;
                align-items: center;
            }
            .sextuple{
                position:absolute;
                width: 172px;
                height: 40px;
                left: 59px;
                top: 192px;

                font-size: 18px;
                display: flex;
                align-items: center;
            }
            .refuerzo{
                position:absolute;
                width: 302px;
                height: 40px;
                left: 59px;
                top: 240px;
                margin-bottom: 16px;
                
                font-size: 18px;
            }
            .antirrabica{
                position: absolute;
                width: 368px;
                height: 72px;
                top: 307px;
                left: 109px;
                bottom: 48px;

                font-size: 18px;
                display: flex;
                align-items: center;
                .vaccine{
                    position: absolute;
                    width: 48px;
                    height: 40px;
                    right: 369px;
                    top:-11px;
                }
            }
        }
    }
    .margin__col__4{
        position: absolute;
        width: 552px;
        height: 416px;
        left: 730px;
        top: 816px;

        background: #FDE8D0;
        border-radius: 30px;
        .rectangulo3cat{
            position: absolute;
            width: 80px;
            height: 80px;
            left: 55px;
            top: 40px;
        }
        .rectangulo3parrafo{
            position: absolute;
            width: 334px;
            height: 80px;
            left: 160px;
            top: 40px;

            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-transform: uppercase;

            color: #A17A9B;
        }
        .triple{
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            list-style: none;

            position: absolute;
            top:144px;
            left: 59px;
        }
        .leucemia{
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            list-style: none;

            position: absolute;
            top:192px;
            left: 59px;
        }
        .antirrabica{
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            list-style: none;

            position: absolute;
            top:240px;
            left: 59px;
        }
    }
}
.vaccine{
    width: 48px;
    height: 40px;
}
.footervacc{
    position: absolute;
    width: 100%;
    height: 171px;
    left: 0px;
    top: 1304px;

    background-color: #262626;
    .footer__layout{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 301px;
    
        position: absolute;
        width: 80%;
        height: 67.59px;

        top: 52px;
        left: 165px;
    }
    .footer_logo{
        width: 96px;
        height: 67.59px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .footer_texto{
        width: 167px;
        height: 16px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        
        text-align: center;
        text-transform: uppercase;

        color: #F3F3F3;

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .footer_redes_img{
        height: 42px;
    }
}
/* end  info Util */
