/* lading page*/
//section portada
$color1: #CFE3E1;
$color2: #FFE1E1;
$color3: #FFFDE9;
$color4: #A17A9B;
$color5: #262626;

// banner

.banner {
    background-image: url("../img/banner/portadaDesk.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 864px;
    width: 100%;
  }

  .banner-texto {
    padding-top: 5%;
    padding-left: 15%;
    color: white;
    width: 50%;
   
  }
  .banner-texto h1 {
    font-weight: bolder;
    margin-bottom: 5%;
    font-size: 36px;
    
  }
  .banner-texto h2 {
    font-weight: bolder;
    margin-bottom: 5%;
    font-size: 64px;
    
  }

// nosotros

.nosotros {
  background-color: white;
  height: 824px;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  
 
&-texto{
    
    margin-left: 10%;
    margin-right: 10%;
    border: solid 3px white;
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    text-align: left;
    height: 450px;

    & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 64px;
      font-weight: 800;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: left;

      
  }

  & p{
    color: $color5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    

    
}
}
}




// ig feed

.igfeed {
  background-color: $color1;
  height: 952px;
  width: 100%;
}


// adoptar

.adoptar {

  background-color: $color2;
  height: 880px;
  width: 100%;
  top: 2688px;
  .razones__para__adoptar{
   
    h3{
      color: $color4;
      
      font-size: nth($fuentes, 8);
      font-weight: 800;
      //line-height: 44px;
      letter-spacing: 0em;

      height: 122px;
      left: 159px;
      top: 2723px;
    }
    .involucrate{
        font-weight: 700;
        font-size: nth($fuentes, 5);
    }
  }
  /* display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center; */
  
  .nosotros-imagen{
    display: none;
  }
  .adoptar-texto{
    display: none;
  }
&-texto{
    
    margin-left: 10%;
    margin-right: 10%;
    border: solid 3px white;
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    text-align: left;
    height: 450px;

    & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 64px;
      font-weight: 800;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: left;

      
  }

  & p{
    color: $color5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    

    
}
}
}






// donar

.donar {
  background-color: $color3;
  height: 712px;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  
  
  

&-botones{
  // background-color: red;
  display: flex;
  width: 455px;
  &-btn1{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background-color: #FDE8D0;
    margin: 1%;
  }

  &-btn2{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background-color: #FDE8D0;
    margin: 1%;
    
  }

  &-btn3{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background-color: #FDE8D0;
    margin: 1%;
  }
}
 
&-imagen{
  width: 553px;
  height: 642px;
}

&-texto{
    margin-left: 10%;

    text-align: left;
    // height: 90%; 
    // background-color: yellow;
    & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 64px;
      font-weight: 800;
      line-height: 44px;
      text-align: left;
      margin-bottom: 20px;
      
  }

  & p{
    // background-color: red;
    color: $color5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    // background-color: blue;
    margin-right: 25%;
    // background-color: aqua;
}
}
}

// transferencia

.transferencia {
  background-color: #FDE8D0;
  height: 331px;
  width: 100%;

  
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  background-color: yellow;

 &_texto{
    margin-left: 10%;
    text-align: left;
    & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 800;
      line-height: 44px;
      text-align: left;
      margin-bottom: 20px;
      background-color: red;
  }

  & p{
    color: $color5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-right: 25%;
    background-color: aqua;
}
} 

}

// equipo

.equipo {
  background-color: white;
  height: 720px;
  width: 100%;
}

// tienda

.tienda {
  background-color: rgb(102, 19, 19);
  height: 661px;
  width: 100%;
}

