/* lading page*/
//section portada
$color1: #CFE3E1;
$color2: #FFE1E1;
$color3: #FFFDE9;
$color4: #A17A9B;
$color5: #262626;
$color6: #FFFDE9;
$color7: #FDE8D080;

// banner

.banner {

    background-image: url("../../img/banner/Carrousel.png");
    height: 777px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    .sub__mobile{
      display: none;
    }
  }

  .banner-texto {
    padding-top: 5%;
    padding-left: 15%;
    color: white;
    width: 50%;
   
  }
  .banner-texto h2 {
    font-weight: bold;
    margin-bottom: 5%;
    font-size: 64px;
  }
  .banner-texto{
    p{
      font-size: nth($fuentes, 5);
    }
  }
// nosotros

.nosotros {
  background-color: white;
  height: 850px;
  
  width: 100%;

  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  
  .nosotros-imagen__img{
    width: 553px;
    height: 642px;
  }
&-texto{
    margin-left: 10%;
    
    border: solid 3px white;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    height: 627px;

    & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 64px;
      
      font-weight: 800;
      line-height: 64px;
      letter-spacing: 0em;
      text-align: left;
      width: 65%;
      
  }

  & p{
    width: 65%;
    height: 100%;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: $color5;
}
}
}



// ig feed

.igfeed {
  background-color: $color1;
  height: 952px;
  width: 100%;
  padding: 25px;
}


// adoptar

.adoptar {


  

  background-color: $color2;
  height: 880px;
  width: 100%;
  top: 2688px;
  .razones__para__adoptar{
    

    h3{
      color: $color4;
      font-size: nth($fuentes, 8);
      font-weight: 800;
      //line-height: 44px;
      letter-spacing: 0em;

      height: 122px;
      left: 159px;
      top: 2723px;
    }
    .involucrate{
        margin-top: 5%;
        font-weight: 700;
        font-size: nth($fuentes, 5);
    }
  }
  /* display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center; */
  
  .nosotros-imagen{
    display: none;
  }
  .adoptar-texto{
    display: none;
  }
&-texto{
    
    margin-left: 10%;
    margin-right: 10%;
    border: solid 3px white;
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    text-align: left;
    height: 450px;

    & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 64px;
      font-weight: 800;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: left;

      
  }

  & p{
    color: $color5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    

    
}
}
}

// donar

.donar {
  background-image: url(../multimedia/img/donaciones/donaciones_foto.png),
                    url(../multimedia/img/donaciones/tramapuntitos.png);
  height: 712px;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  
  .mobile__version{
    display: none;
  }
  
  .css-button-shadow-border {
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    padding: 5px 10px;
    line-height: 200%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 8px;
    border: none;
    margin: 1%;
    box-shadow: -3px 3px 4px #00000020;
    background: #5DC3C1;
    user-select: none;
    font-size: 14px;
    font-weight: 600;
    &:hover {
      background-color: #E7E269;
      color: #000000;
      mix-blend-mode: normal;
      filter: drop-shadow(-3px 3px 4px rgba(0, 0, 0, 0.2));

      
    }
    &:active {
      top: 1.5px;

    }
    
  }
  

&-botones{
  // background-color: red;
  display: flex;
  width: 70%;
  &-btn1{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background-color: #FDE8D0;
    margin: 1%;
  }

  &-btn2{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background-color: #FDE8D0;
    margin: 1%;
    
  }

  &-btn3{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background-color: #FDE8D0;
    margin: 1%;
  }
}
 
&-imagen{
  width: 553px;
  height: 642px;
}

&-texto{
    margin-left: 10%;

    text-align: left;
    // height: 90%; 
    // background-color: yellow;
    & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 64px;
      font-weight: 800;
      line-height: 68px;
      text-align: left;
      margin-bottom: 20px;
      width: 422px;
  }

  & p{
    // background-color: red;
    color: $color5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    // background-color: blue;
    margin-right: 25%;
    // background-color: aqua;
}
}
}

// transferencia
.transferencia__mobile{
  display: none;
}
.transferencia {
  background-color: #FDE8D0;
  height: 331px;
  width: 100%;

  
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center;

  // background-color: yellow;

 &_texto{
    margin-left: 10%;
    text-align: left;
    & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 800;
      line-height: 44px;
      text-align: left;
      margin-bottom: 20px;
      // background-color: red;
  }

  & p{
    color: $color5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-right: 25%;
    // background-color: aqua;
}
} 
.cbu{
  color: #5DC3C1;
}
.css-button-shadow-border {
  width: 268px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  line-height: 200%;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  user-select: none;
  border-radius: 8px;
  border: none;
  margin: 1%;
  box-shadow: -3px 3px 4px #00000020;
  background: #5DC3C1;

  font-weight: 600;
  font-size: 14px;
  &:hover{
    background-color: #E7E269;
    color: #000000;
  }
  &:active {
    top: 1.5px;
  }
  }
}

/* Sumate al equipo */

.section__equipo {

  background-color: white;

  height: 720px;
  width: 100%;
  padding-top: 6%;
  .texto__equipo{
    h2{
      color: #A17A9B;
      height: 72px;
      top: 4824px;
      font-weight: 800;
      font-size: nth($fuentes, 7);
      text-align: center;
    }
    p{
      font-weight: 400;
    }
  }
  /* section cards */
  .section__cards{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    
    user-select: none;

    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    .card_container{
      .card{
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        color: whitesmoke;
        border: none;
        margin-bottom: 10%;
          &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 110%;
          background-size: cover;
          background-position: 0 0;
          pointer-events: none;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 200%;
          pointer-events: none;
          transform: translateY(-50%);
        }
        .card-img-overlay{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 1rem;
          z-index: 1;
        }
        .card-title{
          position: relative;
          transform: translateY(100%);
          font-size: 38px;
          font-weight: bold;
          text-align: center;

          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .card-text{
          opacity: 0;
          font-size: 14px;
        }
        
      }
      .css-button-shadow-border {
        width: 100%;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        line-height: 200%;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 8px;
        border: none;
        margin: 1%;
        box-shadow: -3px 3px 4px #00000020;
        background: #A17A9B;
        margin-bottom: 10%;
        &:active {
          top: 1.5px;
        }
        }
        
        &:hover{
          .css-button-shadow-border{
            background-color: #E7E269;
            font-weight: 700;
            color: #000000;
            filter: drop-shadow(-3px 3px 4px rgba(0, 0, 0, 0.2));
          }
            .card-img{
              filter:  brightness(70%);
              transition: filter 700ms ease;
            }
            .card-title{
              position: relative;
              transform: translateY(0%);
              transition: transform 700ms;
            }
            .card-text{
              opacity: 1;
              transition: all 1s ease;
            }
    }
    }
  }
}

.tienda {
  background-image: url("../img/fondo_tienda.png");
  height: 661px;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  
  .css-button-shadow-border {
    width: 100%;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    line-height: 200%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 8px;
    border: none;
    margin: 1%;
    box-shadow: -3px 3px 4px #00000020;
    background: #A17A9B;
    &:hover {
      background-color: #926f8d;
    }
    &:active {
      top: 1.5px;
    }
  }
  

&-botones{
  display: flex;
  width: 70%;
}
 
&-imagen{
  width: 552px;
  height: 464px;
}

&-texto{
    margin-left: 10%;

    text-align: left;
      & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 64px;
      font-weight: 800;
      line-height: 44px;
      text-align: left;
      margin-bottom: 20px;
      
  }

  & p{
     color: $color5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
     margin-right: 25%;
 }
}
}



// MOBILE - sumate al equipo
@media only screen and (min-width: 320px) and (max-width: 768px) {

.section__equipo {
  height: 100%;
  .texto__equipo{
 
    h2{
      font-size: 32px;
      padding: 10%;
      margin-bottom: 20%;
    }
    p{
      
      padding:  1% 5%;
    }
 
  }
  .section__cards{

 



    grid-template-columns: 1fr;
    .card_container{
      .card-title{

        transform: translateY(100%);

      }
      .card-text{
        display: none;
      }
      &:hover{
        .card-title{
          transform: translateY(100%);
        }
    }
    .card-img{
      filter:  brightness(70%);
    }
    
    }
  }
}

}





// MOBILE - tienda
@media only screen and (min-width: 320px) and (max-width: 768px) {

  .tienda {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column-reverse;
    // background-color: red;
  
    &-texto{
      margin-left: 0px;
      margin: 5%;
  
      text-align: center;
        & h2{
          font-size: 32px;
        text-align: center;
 
        
    }
  
    & p{
      color: $color5;
      font-family: Poppins;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      margin-right: 0px;
      font-size: 16px;
   }
  }

  &-botones{
    width: 100%;
    display: flex;
    
  }
   


  &-imagen{
    width: 330px;
    height: 100%;
   padding-bottom: 15%; 
  }

  }
  
}

