/* lading page*/
//section portada
$color1: #CFE3E1;
$color2: #FFE1E1;
$color3: #FFFDE9;
$color4: #A17A9B;
$color5: #262626;

// banner

.banner {
    background-image: url("../img/banner/portadaDesk.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 864px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner-texto {
    padding-top: 5%;
    padding-left: 15%;
    color: white;
    width: 50%;
   
  }
  .banner-texto h2 {
    font-weight: bolder;
    margin-bottom: 5%;
    font-size: 64px;
  }
  .banner-texto{
    p{
      font-size: nth($fuentes, 5);
    }
  }
// nosotros

.nosotros {
  background-color: white;
  height: 824px;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  
 
&-texto{
    
    margin-left: 10%;
    border: solid 3px white;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    height: 450px;

    & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 64px;
      font-weight: 800;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: left;

      
  }

  & p{
    color: $color5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    

    
}
}
}




// ig feed

.igfeed {
  background-color: $color1;
  height: 952px;
  width: 100%;
}


// adoptar

.adoptar {

  background-color: $color2;
  height: 880px;
  width: 100%;
  top: 2688px;
  .razones__para__adoptar{
   
    h3{
      color: $color4;
      font-size: nth($fuentes, 8);
      font-weight: 800;
      //line-height: 44px;
      letter-spacing: 0em;

      height: 122px;
      left: 159px;
      top: 2723px;
    }
    .involucrate{
        margin-top: 5%;
        font-weight: 700;
        font-size: nth($fuentes, 5);
    }
  }
  /* display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center; */
  
  .nosotros-imagen{
    display: none;
  }
  .adoptar-texto{
    display: none;
  }
&-texto{
    
    margin-left: 10%;
    margin-right: 10%;
    border: solid 3px white;
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    text-align: left;
    height: 450px;

    & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 64px;
      font-weight: 800;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: left;

      
  }

  & p{
    color: $color5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    

    
}
}
}






// donar

.donar {
  background-color: $color3;
  height: 712px;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  
  
  
  .css-button-shadow-border {
    width: 100%;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    line-height: 200%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 8px;
    border: none;
    margin: 1%;
    box-shadow: -3px 3px 4px #00000020;
    background: #A17A9B;
    &:hover {
      background-color: #926f8d;
    }
    &:active {
      top: 1.5px;
    }
  }
  

&-botones{
  // background-color: red;
  display: flex;
  width: 455px;
  &-btn1{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background-color: #FDE8D0;
    margin: 1%;
  }

  &-btn2{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background-color: #FDE8D0;
    margin: 1%;
    
  }

  &-btn3{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background-color: #FDE8D0;
    margin: 1%;
  }
}
 
&-imagen{
  width: 553px;
  height: 642px;
}

&-texto{
    margin-left: 10%;

    text-align: left;
    // height: 90%; 
    // background-color: yellow;
    & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 64px;
      font-weight: 800;
      line-height: 44px;
      text-align: left;
      margin-bottom: 20px;
      
  }

  & p{
    // background-color: red;
    color: $color5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    // background-color: blue;
    margin-right: 25%;
    // background-color: aqua;
}
}
}

// transferencia

.transferencia {
  background-color: #FDE8D0;
  height: 331px;
  width: 100%;

  
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  background-color: yellow;

 &_texto{
    margin-left: 10%;
    text-align: left;
    & h2{
      color: $color4;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 800;
      line-height: 44px;
      text-align: left;
      margin-bottom: 20px;
      background-color: red;
  }

  & p{
    color: $color5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-right: 25%;
    background-color: aqua;
}
} 

}

/* Sumate al equipo */

.section__equipo {

  background-color: white;
  height: 720px;
  width: 100%;
  .texto__equipo{
    margin-top: 10%;
    h2{
      color: #A17A9B;
      height: 72px;
      top: 4824px;
      font-weight: 800;
      font-size: nth($fuentes, 7);
      text-align: center;
    }
    p{
      font-weight: 400;
    }
  }
  /* section cards */
  .section__cards{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    
    .card{
      position: relative;
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      color: whitesmoke;
      border: none;
                  &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 110%;
                    background-size: cover;
                    background-position: 0 0;
                    pointer-events: none;
                  }
                  &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 200%;
                    pointer-events: none;
                    transform: translateY(-50%);
                  }
      .card-img-overlay{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem;
        z-index: 1;
      }
      .card-title{
        position: relative;
        transform: translateY(100%);
        font-size: 38px;
        font-weight: bold;
        text-align: center;
      }
      .card-text{
        opacity: 0;
      }
      &:hover{
        .card-img{
          filter:  brightness(70%);
          transition: filter 700ms ease;
        }
        .card-title{
          position: relative;
          transform: translateY(0%);
          transition: transform 700ms;
        }
        .card-text{
          opacity: 1;
          transition: all 1s ease;
        }
      }
      
    }

    .css-button-shadow-border {
      width: 268px;
      height: 40px;
      color: #fff;
      padding: 5px 10px;
      line-height: 200%;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      outline: none;
      border-radius: 8px;
      border: none;
      margin: 1%;
      box-shadow: -3px 3px 4px #00000020;
      background: #A17A9B;
      &:hover {
        background-color: #926f8d;
      }
      &:active {
        top: 1.5px;
      }
    }
  }
}
// tienda

.tienda {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background: no-repeat url("../multimedia/img/tienda/backgroundTienda.png");
  height: 661px;
  width: 100%;
  .tienda__info{
    height: 208px;
    width: 456px;
    left: 161px;
    top: 5657px;
  }
  .img__tienda{
    height: 464px;
    width: 552px;
    left: 729px;
    top: 5565px;
  }
  .css-button-shadow-border {
    width: 50%;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    line-height: 200%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 8px;
    border: none;
    margin: 1%;
    box-shadow: -3px 3px 4px #00000020;
    background: #A17A9B;
    &:hover {
      background-color: #926f8d;
    }
    &:active {
      top: 1.5px;
    }
  }
}

