$colores:
#A17A9B,    //1
#FFE1E1,    //2
#F0F5E2,    //3
#8BABA8,    //4  
#CFE3E1,    //5
#FDE8D0,    //6
#FFFDE9,    //7
#F0EBE5,    //8
#FFFF;      //9

$fuentes:
8px,    //1
16px,   //2
19px,   //3
24px,   //4
30px,   //5
36px,   //6
50px;   //7

$width:
1rem,
2rem,
4rem,
6rem,
8rem,
10rem;