//versión mobile
@media  screen and (max-width: 767px) {
    /* Banner section */
    .banner{
    background-image: url(../img/banner/portadaMobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 544px;
    top: 64px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .banner-body{
    background: linear-gradient(#21252900,#000000);
    height: 240px;
    width: 100%;
    left: 0px;
    top: 368px;
    border-radius: 0px;
  }
  .banner-texto {
    padding-top: 5%;
    padding-left: 15%;
    color: white;
    width: 50%;
   
  }
  .banner-texto h2 {
    font-weight: bolder;
    margin-bottom: 5%;
    font-size: 36px;
    transform: translateY(-80px);
  }
  .banner-texto{
    p{
        display: none;
        font-size: nth($fuentes, 5);
    }
  }
    /* Banner section END */

    //About us
    /* About us section */
        .nosotros{
                display: block;
                background: url('../multimedia/img/nosotros/donacionesMobile.png');
                background-size: contain;
                height: 700px;
                width: 100%;
                left: 0px;
                top: 608px;
                border-radius: 0px;
            .nosotros-texto{
                background: transparent;
                height: 267px;
                left: 11px;
                top: 668px;
                border: 0;
                border-radius: 0;
                margin-left: 5%;
                h2{
                    margin-top: 15%;
                    text-align: center;
                }
                p{ 
                    text-align: start;
                }
            }
            .nosotros-imagen{
                display: none;
            }
            
        }
    /* About us END */
    /* Adoptá */
    .adoptar{
        background: url('../multimedia/img/adopcionesMobile.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .razones__para__adoptar{
            display: none;
        }
        .adoptar-texto{
            background-color: transparent;
            border: none;
            padding: 0;
            margin-left: 5%;
            display: block;
            
            h2{
                text-align: center;
                line-height: 100%;
                margin-left: 0%;
            }
            p{
                text-align: left;
            }
        }
    }
    /* Adoptar */
    .donar{
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        padding-top: 5%;
        padding-bottom: 5%;
        .mobile__version{
            display: flex;
            flex-direction: column;
            align-items: center;
            .texto__mobile{
                h2{
                    color: #A17A9B;
                    font-size: 32px;
                    font-weight: 800;
                    line-height: 36px;
                    text-align: center;
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    font-weight: 400;
                }
            }
            .css-button-shadow-border{
                width: 328px;
                background-color: #FDE8D0;
                color: #000000;
            }
        }
        .donar-texto{
            display: none;
        }
        .donar-imagen{
            display: none;
        }
    }
    /* transferencia section */
    .transferencia{
        display: none;
    }
}

